<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <title>Đăng ký sử dụng dịch vụ công </title>

  {% stylesheets 'bundles/acmepermission/bootstrap/css/bootstrap.min.css' 
         filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        <link rel="icon" type="image/ico" href="{{asset('bundles/acmepermission/bootstrap/images/icon1.png')}}">        
        {% endstylesheets %}          
        <style>.colorgraph {
                height: 5px;
                border-top: 0;
                background: #c4e17f;
                border-radius: 5px;
                background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
                background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
                background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
                background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            }</style>

        <script>
            window.open = function() {
            };
            window.print = function() {
            };
            // Support hover state for mobile.
            if (false) {
                window.ontouchstart = function() {
                };
            }

            function __linkClick(e) {
                parent.window.postMessage(this.href, '*');
            }
            ;

            function __bindToLinks() {
                var __links = document.querySelectorAll('a');
                for (var i = 0, l = __links.length; i < l; i++) {
                    if (__links[i].getAttribute('data-t') == '_blank') {
                        __links[i].addEventListener('click', __linkClick, false);
                    }
                }
            }
        </script>
    </head>
    <body>
        <div class="container">
{{ form_start(form)}}
{{ form_errors(form) }}
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <h2>Đăng ký <small>Miễn phí và mãi mãi như vậy</small></h2>
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-danger fade in block-inner">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ flashMessage }}
                    </div>
                    {% endfor %}
                    <hr class="colorgraph">			
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.tenant.cmtnd,{'attr': {'class': 'form-control input-lg','placeholder':'CMTND','tableindex':1}}) }}                        
                                {{form_errors(form.tenant.cmtnd)}}
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.tenant.sdt,{'attr': {'class': 'form-control input-lg','placeholder':'Số điện thoại','tableindex':1}}) }}                        
                                {{form_errors(form.tenant.sdt)}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
				{{ form_widget(form.tenant.hoten,{'attr': {'class': 'form-control input-lg','placeholder':'Họ tên','tableindex':1}}) }}                        
                    </div>
                    <div class="form-group">
				{{ form_widget(form.tenant.quequan,{'attr': {'class': 'form-control input-lg','placeholder':'Quê quán','tableindex':1}}) }}                        
                    </div>
                    <div class="form-group">
                        <input type ="text" class="form-control input-lg" placeholder="Ngày tháng năm sinh" disabled/>
                    </div>
                    <div class="row">                        
                        <div class="col-xs-3 col-sm-3 col-md-3">                           
                            <div class="form-group">
                                {{ form_widget(form.tenant.ngaysinh.day,{'attr': {'class': 'form-control input-lg','placeholder':'Ngày sinh','tableindex':1}}) }}                        
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="form-group">
                                {{ form_widget(form.tenant.ngaysinh.month,{'attr': {'class': 'form-control input-lg','placeholder':'Tháng sinh','tableindex':1}}) }}                        
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="form-group">
                                {{ form_widget(form.tenant.ngaysinh.year,{'attr': {'class': 'form-control input-lg','placeholder':'Năm sinh','tableindex':1}}) }}                        
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.tenant.domain,{'attr': {'class': 'form-control input-lg','placeholder':'Domain','tableindex':1}}) }}                        
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.tenant.tendonvi,{'attr': {'class': 'form-control input-lg','placeholder':'Tên đơn vị','tableindex':1}}) }}                        
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.username,{'attr': {'class': 'form-control input-lg','placeholder':'Username','tableindex':1}}) }}
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
						{{ form_widget(form.password,{'attr': {'class': 'form-control input-lg','placeholder':'Password','tableindex':1}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <span class="button-checkbox">
                                <input type="checkbox" required="required"><strong class="label label-primary" >Đồng ý</strong></span>
                            </span>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            Chọn  <strong class="label label-primary">Đồng ý</strong>, Bạn đã đồng ý với tất cả các điều khoản của chúng tôi (xem điều khoản bên dưới)
                        </div>
                    </div>

                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                                    {{ form_widget(form.register,{'attr': {'class': 'btn btn-primary btn-block btn-lg','tabindex':7,'value':'Register'}}) }}                                    
                        </div>
                        <div class="col-xs-6 col-md-6"><a href="{{asset('bundles/acmepermission/staticHTML/dieukhoan.html')}}" class="btn btn-success btn-block btn-lg">Điều khoản</a></div>
                    </div>
                </div>
            </div>
{{form_end(form)}}
        </div>
    </body></html>

