{{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
{{ form_errors(form) }}
<div class="panel panel-success">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-bubble4"></i> Tạo mới thủ tục hành chính</h6>
    </div>
    <div class="panel-body">
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success fade in block-inner">
            <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage }}
        </div>
        {% endfor %}
        <div class="form-group">
            {{ form_label(form.nametthc, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.nametthc,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nametthc) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.linhvuc, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.linhvuc,{'attr': {'class': 'multi-select'}}) }}
                
                {{ form_errors(form.linhvuc) }}
            </div>
        </div>
        {%for quyentthc in form.quyentthc%}
           {% set idElement = 'tthc_quyentthc_'~loop.index0~'_user' %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Quyền <b>{{form.vars.value.quyentthc[loop.index0].quyenhan.name}}</b> </label>
                <div class="col-sm-10">
                    {{ form_widget(quyentthc.user,{'attr': {'class': 'multi-select'}}) }}
                    {{ form_errors(quyentthc.user) }}
                     <a href="#" onclick="window.open('{{path('tableUser',{'idElement':idElement})}}','name','height=500,width=800')">Tìm Nhanh</a>
                </div>
            </div>
            <input type="hidden" name="tthc[quyentthc][{{loop.index0}}][quyenhan]" value="{{form.vars.value.quyentthc[loop.index0].quyenhan.id}}"/>
        {%endfor%}
        <div class="form-actions text-right">
             {{ form_widget(form.submit,{'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>
</div>
        {{ form_widget(form._token) }}
{{form_end(form, {'render_rest': false})}}

