{% extends "AcmePermissionBundle::Admin/baseAdmin.html.twig"%}
{%block title%}
<title>Khởi tạo dữ liệu cho hệ thống</title>
{%endblock%}
{%block pagetitle%}
<h3>Khởi tạo dữ liệu cho hệ thống <small>Hệ thống dịch vụ công - {{app.user.tenant.tendonvi}}</small></h3>
{%endblock%}
{%block content %}
<div class="tabbable page-tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#inside" data-toggle="tab"><i class="icon-user3"></i> Tạo mới người dùng</a></li>
        <li ><a href="#outside" data-toggle="tab"><i class="icon-storage"></i> Tạo mới lĩnh vực hành chính</a></li>

        <li ><a href="#ok" data-toggle="tab"><i class="icon-leaf"></i>Tạo đơn vị thụ lý</a></li>
        <li ><a href="#advanced" data-toggle="tab"><i class="icon-folder8"></i> Tạo mới thủ tục hành chính</a></li>
    </ul>
    <div class="tab-content">
        <!-- First tab content -->
        <div class="tab-pane fade active in" id="inside">
            {{ render(controller('AcmePermissionBundle:Permission:createUser'))}}
        </div>
        <div class="tab-pane fade" id="outside">
            {{ render(controller('AcmePermissionBundle:Permission:createLinhvuc'))}}
        </div>
        <div class="tab-pane fade" id="advanced">
            {{ render(controller('AcmePermissionBundle:Permission:createTTHC'))}}
        </div>
        <div class="tab-pane fade" id="ok">
            {{ render(controller('AcmePermissionBundle:Permission:createDVTL'))}}
        </div>
    </div>
</div>

{% endblock%}
