{% extends "AcmePermissionBundle::Admin/baseAdmin.html.twig"%}
{%block content%}
{{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
{{ form_errors(form) }}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-bubble4"></i>Thông tin hồ sơ thủ tục hành chính</h6>
    </div>
    <div class="panel-body">
        <div class="form-group">
            {{ form_label(form.tthc, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.tthc,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.tthc) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.congdan, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            
            <div class="col-sm-10">
                {{ form_widget(form.congdan,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.congdan,{'attr': {'class': 'form-control'}}) }}
                <a href="#" onclick="window.open('{{path('tableCongdan',{'idElement':'Hosotthc_congdan'})}}','name','height=500,width=800');">Tìm Nhanh</a>
                
            </div>
        </div>
        {%for dinhkemnhan in form.dinhkemnhanhs%}
        <div class="form-group">
            {{ form_label(dinhkemnhan.file, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(dinhkemnhan.file,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(dinhkemnhan.file,{'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {%endfor%}
        <div class="form-group">           
            <div class="row">
                <label class="col-sm-2 control-label">Ngày nhận</label>
                <div class="col-sm-1">
                    <label>Ngày</label>
                    <input type="text" id="Hosotthc_ngaynhan_day" name="Hosotthc[ngaynhan][day]" value="{{'now'|date('d')}}" class="form-control" readonly="true">
                </div>
                <div class="col-sm-1">
                    <label>Tháng</label>
                    <input type="text" id="Hosotthc_ngaynhan_month" name="Hosotthc[ngaynhan][month]" value="{{'now'|date('m')}}" class="form-control" readonly="true">
                </div>
                <div class="col-sm-1">
                    <label>Năm</label>
                    <input type="text" id="Hosotthc_ngaynhan_year" name="Hosotthc[ngaynhan][year]" value="{{'now'|date('Y')}}" class="form-control" readonly="true">
               </div>
            </div>
        </div>
        <div class="form-group">           
            <div class="row">
                <label class="col-sm-2 control-label">Ngày hẹn trả</label>
                <div class="col-sm-1">
                    <label>Ngày</label>
                    <input type="text" id="Hosotthc_ngayhentra_day" name="Hosotthc[ngayhentra][day]" value="{{'now'|date('d')}}" class="form-control">
                </div>
                <div class="col-sm-1">
                    <label>Tháng</label>
                    <input type="text" id="Hosotthc_ngayhentra_month" name="Hosotthc[ngayhentra][month]" value="{{'now'|date('m')}}" class="form-control">
                </div>
                <div class="col-sm-1">
                    <label>Năm</label>
                    <input type="text" id="Hosotthc_ngayhentra_year" name="Hosotthc[ngayhentra][year]" value="{{'now'|date('Y')}}" class="form-control">
               </div>
            </div>
        </div>
        <div class="form-actions text-right">
             {{ form_widget(form.submit,{'attr': {'class': 'btn btn-primary'}}) }}
            {#<button type="submit" class="btn btn-primary">Submit</button>#}
        </div>
    </div>
</div>
{{ form_widget(form._token) }}
{{form_end(form, {'render_rest': false})}}
{%endblock%}