{% extends "AcmePermissionBundle::Admin/baseAdmin.html.twig"%}
{% block javascript%}
{% javascripts 
                    '@AcmePermissionBundle/Resources/public/bootstrap/js/plugins/interface/datatables.min.js'   
     
    %}   
<script type="text/javascript" src="{{ asset_url }}"></script>  
    {{parent()}}        
    {% endjavascripts %}     
{%endblock%}
{%block pagetitle%}
<h3>Thống kê người dùng <small>Basic/advanced form components</small></h3>
{%endblock%}
{%block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-table"></i> Thống kê thủ tục hành chính</h6>
    </div>
    <div class="datatable-add-row">
        <div id="DataTables_Table_17_wrapper" class="dataTables_wrapper" role="grid">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <td>Id</td>
                    <td>User</td>
                    <td>Email</td>    
                    <td>Niêm yết</td>
                    <td>Tiếp nhận</td>
                    <td>Hỏi đáp</td>
                    </thead>
                {% for staff in staffs%}
                    {% if loop.index %2 == 0 %}
                    <tr class="odd">
                    {% else %}
                    <tr class="even">
                    {% endif%}
                        <td>{{staff.id}}</td>
                        <td><a href = "{{path('permissionStaff',{'id':staff.id})}}">{{staff.username}}</a></td>
                        <td>{{staff.email}}</td>
                        {%set niemyet = 0%}
                        {%set tiepnhan = 0%}
                        {%set hoidap = 0%}
                        {%for quyentthc in staff.quyentthc%}
                            {%if quyentthc.quyenhan.id == '1'%}
                                {%set niemyet = niemyet + 1%}
                            {%endif%}
                            {%if quyentthc.quyenhan.id == '2'%}
                                {%set tiepnhan = tiepnhan + 1%}
                            {%endif%}
                            {%if quyentthc.quyenhan.id == '4'%}
                                {%set hoidap = hoidap + 1%}
                            {%endif%}
                        {%endfor%}
                        <td>{{niemyet}}</td>
                        <td>{{tiepnhan}}</td>
                        <td>{{hoidap}}</td>
                    </tr>
                {%endfor%}
                </table>
            </div>            
        </div>
    </div>
</div>
{% endblock%}