<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Đăng nhập hệ thống dịch vụ công {{tenant.tendonvi}}</title>
        <link rel="icon" type="image/ico" href="{{asset('bundles/acmepermission/bootstrap/images/icon1.png')}}">
{% stylesheets 'bundles/acmepermission/bootstrap/css/bootstrap.min.css' 
                'bundles/acmepermission/bootstrap/css/londinium-theme.min.css'
                'bundles/acmepermission/bootstrap/css/styles.min.css'
                'bundles/acmepermission/bootstrap/css/icons.min.css'
         filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />

        {% endstylesheets %}  

        <link href="http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,vietnamese,latin-ext" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{asset('bundles/acmepermission/bootstrap/js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/acmepermission/bootstrap/js/application.js')}}"></script>
    </head>
    <body class="full-width page-condensed">

        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-right"><span class="sr-only">Toggle navbar</span><i class="icon-grid3"></i></button>
                <a class="navbar-brand" href="#">Hệ thống dịch vụ công - {{tenant.tendonvi}}</a></div>

        </div>
        {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success fade in block-inner">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage }}
                </div>
        {% endfor %}
        <div class="login-wrapper">           
            <form action="{{ path('login_check') }}" role="form" method="post">
                <div class="popup-header"><a href="#" class="pull-left"><i class="icon-user-plus"></i></a><span class="text-semibold">Đăng nhập hệ thống</span>
                    <div class="btn-group pull-right"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i></a>

                    </div>
                </div>
                <div class="well">
                    <div class="form-group has-feedback">
                        <label>Tên đăng nhập</label>
                        <input type="text" class="form-control" id="kate"  placeholder="Username" value="{{last_username|split('@')[0]}}" required>
                        <input type="hidden" class="form-control" id="username" name="_username" placeholder="Username">
                        <i class="icon-users form-control-feedback"></i></div>
                    <div class="form-group has-feedback">
                        <label>Mật khẩu</label>
                        <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required>
                        <i class="icon-lock form-control-feedback"></i></div>
                    <div class="row form-actions">
                        <div class="col-xs-6">
                            <div class="checkbox checkbox-success">
                                <label>
                                    <input type="checkbox" class="styled" name="_remember_me" id="remember_me" checked>
                                    Ghi nhớ</label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-warning pull-right" onclick="checkout();"><i class="icon-menu2" oncl></i> Đăng nhập</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <!-- /login wrapper -->
        <!-- Footer -->
        <div class="footer clearfix">
            <div class="pull-left">&copy; 2014. Khóa luận tốt nghiệp Nguyễn Hữu Kết</div>
            <div class="pull-right icons-group"> <a href="#"><i class="icon-screen2"></i></a> <a href="#"><i class="icon-balance"></i></a> <a href="#"><i class="icon-cog3"></i></a> </div>
        </div>
        <!-- /footer -->
    </body>
    <script>
        function checkout() {
            var temp = $("#kate").val();
            $("#username").val(temp + "@{{domain}}");
        }
    </script>
</html>